/* 1rem = 16px */
$padding: .75rem; /* = 12px */
$color-red: #ff1300;
$color-violet: #90c;
$color-orange: #f60;
$color-green: #080;
$color-aqua: #67b7dc;
$color-blue: #007aff;
$color-purple: #cd0d74;
$color-gray: #ccc;
$color-white: #fff;
$color-black: #333;
$border: 1px solid $color-gray;